// ===============
// Theme Variables
// ===============

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Admonitions
// -----------

// Default - Generic admonition
//$admonition-color: #fff; Not Used - Yet
$admonition-background: #ececec;
$admonition-title-color: #000;
$admonition-title-background: #cacaca;

// Attention
//$admonition-attention-color: $admonition-color; Not Used - Yet
$admonition-attention-background: $admonition-background;
$admonition-attention-title-color: $admonition-title-color;
$admonition-attention-title-background: $admonition-title-background;

// Caution
//$admonition-caution-color: $admonition-color; Not Used - Yet
$admonition-caution-background: #ffff76;
$admonition-caution-title-color: $admonition-title-color;
$admonition-caution-title-background: #caca40;

// Danger
//$admonition-danger-color: $admonition-color; Not Used - Yet
$admonition-danger-background: #ff5d52;
$admonition-danger-title-color: $admonition-title-color;
$admonition-danger-title-background: #bf3f36;

// Error
//$admonition-error-color: $admonition-color; Not Used - Yet
$admonition-error-background: $admonition-danger-background;
$admonition-error-title-color: $admonition-danger-title-color;
$admonition-error-title-background: $admonition-danger-title-background;

// Hint
//$admonition-hint-color: $admonition-color; Not Used - Yet
$admonition-hint-background: $admonition-attention-background;
$admonition-hint-title-color: $admonition-attention-title-color;
$admonition-hint-title-background: $admonition-attention-title-background;

// Important
//$admonition-important-color: $admonition-color; Not Used - Yet
$admonition-important-background: #fc8;
$admonition-important-title-color: $admonition-title-color;
$admonition-important-title-background: #ffa834;

// Note
//$admonition-note-color: $admonition-color; Not Used - Yet
$admonition-note-background: $admonition-attention-background;
$admonition-note-title-color: $admonition-attention-title-color;
$admonition-note-title-background: $admonition-attention-title-background;

// Tip
//$admonition-tip-color: $admonition-color; Not Used - Yet
$admonition-tip-background: $admonition-important-background;
$admonition-tip-title-color: $admonition-title-color;
$admonition-tip-title-background: $admonition-important-title-background;

// Warning
//$admonition-warning-color: $admonition-color; Not Used - Yet
$admonition-warning-background: $admonition-caution-background;
$admonition-warning-title-color: $admonition-caution-title-color;
$admonition-warning-title-background: $admonition-caution-title-background;
