/* 0: Root ====================== */
html {
  width: 100%;
  scroll-behaviour: smooth;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, freesans,
    sans-serif;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* 1: Header ==================== */
header.header {
  position: fixed;
  top: 0;
  //padding: 20px;
  left: 0;
  right: 0;
  background: #fff;
  color: #000;
  margin: 40px 0 30px;
  transition: all 0.5s ease;

  &.scrolled {
    margin-top: 0;
    background-color: #000;

    a {
      color: #fff;
    }
  }

  a {
    color: #2e2e2e;
    display: inline-flex;
  }

  .flex-container {
    width: 1100px;
  }

  nav {
    justify-content: space-between;
    align-content: center;

    .brand {
      font-size: 38px;
      line-height: 48px;
      font-weight: 500;
      margin-top: auto;
      margin-bottom: auto;

      img {
        height: 48px;
        width: 48px;
        margin-right: 8px;
      }
    }

    ul {
      list-style-type: none;

      li {
        float: left;

        a {
          line-height: 20px;
          padding: 15px;
          margin-left: 1.25rem;
          font-size: 20px;

          &:hover {
            background: #eee;
            color: #4183c4;
          }
        }
      }
    }
  }
}

/* 2: GeoPattern ================ */
.geopattern {
  //background-size: contain;
  padding-top: 200px;
  padding-bottom: 100px;
  margin-bottom: 30px;
  display: block;
  background-attachment: fixed;

  .container {
    width: 1100px;
    margin: auto;
    color: #fff;
    text-shadow: 1px 1px 15px #000;

    h1 {
      font-size: 63px;
      margin-top: 20px;
      margin-bottom: 10px;
      line-height: 1.1;
      font-weight: 500;
    }

    p {
      font-size: 20px;
      height: 33px;
      display: inline-block;
      font-weight: 400;
    }
  }
}

/* 3: Sidebar =================== */
.sidebar {
  will-change: min-height;

  .wrapper {
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }

  .local-toc,
  .global-toc {
    padding-left: 0;
    margin-bottom: 0;

    > ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  ul {
    list-style: none;

    li {
      &.active a {
        border-left: solid #cc00cc;
        color: purple;
      }

      a {
        color: #767676;
        //padding: 4px 20px;
        font-size: 13px;
        font-weight: 500;

        &:hover {
          border-left: solid #cc00cc;
          color: purple;
        }
      }
    }
  }
}

/* 4: Content =================== */
div.content {
  width: 1100px;

  .sidebar {
    flex-grow: 1;
  }

  .article {
    flex-grow: 3;

    a.headerlink {
      padding-left: 0.1em;
      visibility: hidden;

      &:hover {
        color: #cc00cc;
      }

      &::before {
        visibility: visible;
        content: "\f02e";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 0.75em;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        color: #000;

        &:hover {
          color: #cc00cc;
        }
      }
    }
  }
}

/* 5: Footer ==================== */
footer.footer {
  width: 1000px;
  justify-content: space-between;
}
