// ===============
// Theme Variables
// ===============

// Admonitions
// -----------

// Default - Generic admonition
//$admonition-color: #fff; Not Used - Yet
$admonition-background: #f2a333;
$admonition-title-color: #000;
$admonition-title-background: #658756;

// Attention
//$admonition-attention-color: $admonition-color; Not Used - Yet
$admonition-attention-background: #fff;
$admonition-attention-title-color: $admonition-title-color;
$admonition-attention-title-background: #fff;

// Caution
//$admonition-caution-color: $admonition-color; Not Used - Yet
$admonition-caution-background: $admonition-attention-background;
$admonition-caution-title-color: $admonition-title-color;
$admonition-caution-title-background: $admonition-attention-title-background;

// Danger
//$admonition-danger-color: $admonition-color; Not Used - Yet
$admonition-danger-background: #de4000;
$admonition-danger-title-color: $admonition-title-color;
$admonition-danger-title-background: #ee0000;

// Error
//$admonition-error-color: $admonition-color; Not Used - Yet
$admonition-error-background: $admonition-background;
$admonition-error-title-color: $admonition-title-color;
$admonition-error-title-background: $admonition-title-background;

// Hint
//$admonition-hint-color: $admonition-color; Not Used - Yet
$admonition-hint-background: $admonition-background;
$admonition-hint-title-color: $admonition-title-color;
$admonition-hint-title-background: $admonition-title-background;

// Important
//$admonition-important-color: $admonition-color; Not Used - Yet
$admonition-important-background: $admonition-background;
$admonition-important-title-color: $admonition-title-color;
$admonition-important-title-background: $admonition-title-background;

// Note
//$admonition-note-color: $admonition-color; Not Used - Yet
$admonition-note-background: $admonition-background;
$admonition-note-title-color: $admonition-title-color;
$admonition-note-title-background: $admonition-title-background;

// Tip
//$admonition-tip-color: $admonition-color; Not Used - Yet
$admonition-tip-background: $admonition-background;
$admonition-tip-title-color: $admonition-title-color;
$admonition-tip-title-background: $admonition-title-background;

// Warning
//$admonition-warning-color: $admonition-color; Not Used - Yet
$admonition-warning-background: #ff8645;
$admonition-warning-title-color: $admonition-title-color;
$admonition-warning-title-background: #ff5900;
